_build.*
.sconf_temp
.sconsign.dblite
*.o
*.pyc
*.so
*.os
*.dylib
tests/.cache/*
tests/.tests
ups/*.cfgc
config.log
doc/html
doc/xml
doc/*.tag
doc/doxygen.conf
doc/*aux
doc/*log
python/lsst/meas/extensions/ngmix/version.py
bin/*
.coverage
.pytest_cache
